<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Projects Page</title>
</head>

<body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>This are my projects:</p>
    {{> footer}}
</body>

</html>